<h1>ToDos dieciocheros, ¡TIKI TIKI TIIII!</h1>

<div class="container">
  <div class="row">
    <% @user.tasks.each_slice(3) do |row| %>
    <% row.each do |task| %>
    <div class="col">
      <div class="card">
        <%= image_tag task.todo.photo, class: 'card-img-top' %>
        <div class="body">
          <h3> <%= link_to task.todo.title, todo_path(task.todo) %> </h3>

            <% if task.completed  %>
              <%= link_to "ToDo listo", task_path(task.id), class: 'btn btn-success', method: :patch %>
            <% else %>
              <%= link_to "ToDo NO listo", task_path(task.id), class: 'btn btn-danger', method: :patch %>
            <% end %>

        </div>
      </div>
    </div>
    <% end %>
    <div class="w-100" style="margin-top: 20px"></div>
    <% end %>
  </div>
</div>
